<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Grupo 37</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <%= render 'shared/header' %>
    <main>
      <div class="fondo_forms">
        <div class='Bienvenida'>
          <h1>Editar Reporte</h1>
        </div>
          <%= form_with url: "/reporte/#{@reporte.id}", model: @reporte, method: :patch do |form|%>
            <div class="divform">
              <div>
                <input type="text" id="nombre" 
                name="reporte[descripcion]" placeholder="Explicación Reporte" 
                value="<%= @reporte.descripcion %>" class="input">
              </div>

              <button type="submit" class="custom-button">
                Enviar Cambios
                <div class="arrow-wrapper">
                  <div class="arrow"></div>
                </div>
              </button>
          <% end %>
      </div>
    </main>
  </body>
</html>