<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Grupo 37</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
  <%= render 'shared/header' %>
  <main>
    <div class="fondo_forms">
      <div class="Bienvenida">
          <h2>Subir Producto</h2>
      </div>
      <%= form_with model: @producto do |f|%>
        <div class="divform">
          <div>
            <input type="text" id="nombre" 
            name="producto[nombre]" placeholder="Nombre Producto" class="input">
          </div>

          <div>
            <textarea type="text" id="descripcion" name="producto[descripcion]" 
            placeholder="Añade una descripción del producto" class="input"
            style="resize: none;"></textarea><br>
          </div>

          <div>
            <select id= "lista1" name="producto[categoria]" class="input">
              <option value="Polera">Polera</option>
              <option value="Poleron">Poleron</option>
              <option value="Pantalon">Pantalon</option>
              <option value="Accesorio">Accesorio</option>
            </select><br>
          </div> 


          <%= f.file_field :image, accept: '.jpg, .jpeg, .png, .pdf', class:"subir-foto", onchange:"displayFileName(this)"%>
          <label for="producto_image" class="cssbuttons-io-button">
          <svg viewBox="0 0 640 512" fill="#845BB3" height="1em" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"></path></svg>
          </label>

          <button type="submit" class="custom-button">
            Subir Producto
            <div class="arrow-wrapper">
              <div class="arrow"></div>
            </div>
          </button>
        </div>
      <% end %>
    </div>

    <script>
      function displayFileName(fileInput) {
        var fileName = fileInput.files[0].name; 
        alert('Selected file: ' + fileName);
      }
    </script>
  </main>
  </body>
</html>