<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Grupo 37</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <%= render 'shared/header' %>

    <main>
      <%# HAY QUE CREAR UN ESTILO PARA LOS INTERCAMBIOS %>
      <section class="productos"> 
        
      </section>

      <a href="/productos/new">
        POST
      </a>
    </main>


  </body>
</html>