<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Proyecto Grupo 37</title>
  </head>
  <body>
    <%= render 'shared/header' %>
    <main>
        <div class="div-botones-admin">
                <a href="/admin/productos">
                    <button>
                        Mostrar Productos
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>
                        </div>
                    </button>
                </a>

                <a href="/admin/usuarios">
                    <button>
                        Mostrar Usuarios
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>
                        </div>
                    </button>
                </a>

                <a href="/admin/intercambios">
                    <button>
                        Mostrar Intercambios
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>
                        </div>
                    </button>
                </a>

                <a href="/admin/reportes">
                    <button>
                        Mostrar Reportes
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>
                        </div>
                    </button>
                </a>
        </div>
        <div class="btn">Selecciona Una Categoria</div>
    </main>
</body>